    <%- include("./partials/begin.ejs");  %>
    <title>Campaign To Validate Info</title>
</head>
<body>
    <%- include("./partials/nav_bar.ejs"); %>
    <div>
        <a>Go Back</a>
        <h1>Smiles for everyone</h1>
        <div>
            <ul>
                <li><b>Creator: </b><%= campaign.creator %></li>
                <li><b>Description: </b><%= campaign.description %></li>
                <li><b>Goal: </b><%= campaign.goal %> €</li>
            </ul>
        </div>
        <div>
            <h3>Multimedia for the campaign</h3>

            <% campaign.media.forEach((media,i) => { %>
                <img src="data:image/gif;base64,<%= media %>" alt="media <%= i %>">
            <% }); %>
        </div>

        <div>
            <form action="">
                <button type="submit">Approved</button>
            </form>
            <form action="">
                <button type="submit">Reject</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>