<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", {title: "Campaign Info"});  %>
<body>
    <%- include("./partials/nav_bar.ejs") %>
    <div id="container">
        <!-- Right column -->
        <div>
            <% if(user && user.role.localeCompare("donor") == 0) { %>
                <button id="btn_donate">Donate</button>
            <% } %>
            
            <div>
                <h4>Donated money:</h4>
                <p>**till this moment</p>
                <div>
                    <%= campaign.totalDonated %> €
                </div>
            </div>
            
            <% if(campaign.topDonors.length > 0) { %>
                <div>
                    <h4>Top 5 donors:</h4>
                    <p>**till this moment</p>
                    <!-- List of the top 5 donors -->
                    <div>
                        <% campaign.topDonors.forEach((donor) => { %> 
                            <div>
                                <div>
                                    <img src="data:image/gif;base64,<%= donor.profile %>" alt="donor_profile">
                                    <span><%= donor.username %></span>
                                </div>
                                <div>
                                    <!-- Total money donated of this donor for this campaign -->
                                    <%= donor.amountDonated %> €
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% } %>
            <% if(campaign.newDonors.length > 0) { %>
                <div>
                    <h4>5 New donors:</h4>
                    <p>**till this moment</p>
                    <% campaign.newDonors.forEach((donor) => { %>
                        <div>
                            <!-- Donor line FOR EACH 5 OR LESS-->
                            <div>
                                <div>
                                    <img src="data:image/gif;base64,<%= donor.profile %>" alt="donor_profile">
                                    <span><%= donor.username %></span>
                                </div>
                                <div>   
                                    <!-- Quantity of money donated on that new donation -->
                                    <% donor.amountDonated %> €
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <% } %>
        </div>

        <!-- Left column -->
        <div>
            <h1><%= campaign.title %></h1>
            <div>
                <img src="data:image/gif;base64,<%= campaign.creator.profile %>" alt="creator_profile">
                <span><%= campaign.creator.username %></span>
            </div>
            
            <p><b>Goal:</b> <%= campaign.goal %> €</p>
            
            <div>
                <%= campaign.description %>
            </div>
			<% if (campaign.media) { %>
                <% campaign.media.forEach((media, i) => { %>
                    <img src="data:image/gif;base64,<%= media %>" alt="media <%= i %>">
                <% }); %>
			<% } %>
            <div>
                <!--Divisor-->
            </div>
            
            <h2>Updates</h2>
            
            <div>
                <% campaign.updates.forEach((update) => { %>
                    <div>
                        <p><%= update.publication %></p>
                        <div>
                            <% if(typeof update.image === "string" && update.image.length > 0) { %>
                                <img src="data:image/gif;base64,<%= update.image %>" alt="update">
                            <% } %>
                            <div><%= update.content %></div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        let container = document.getElementById("container");
        let btn_donate = document.getElementById("btn_donate");
        let showPopUp = false;

        // Show pop up to pay for the donation
        btn_donate.addEventListener("click", ()=>{
            if(!showPopUp){
                container.insertAdjacentHTML("afterend",
                    `
                    <div id="donatePopUp">
                        <button>X</button>
                        <div>
                            <h2>Donate money for the campaign:</h3>
                            <h3>Food for kittens</h4>
                        </div>

                        <form action="">
                            <label>
                                <span>Anonymous donation</span>
                                <input type="checkbox">
                            </label>

                            <label>
                                <span>How much would you like to donate?</span>
                                <input type="number">
                                <span>€</span>
                            </label>

                            <label>
                                <span>Donation method</span>
                                <select name="donation_method" id="">
                                    <option value="multibanco">Multibanco</option>
                                    <option value="mbway">MBWay</option>
                                    <option value="paypal">PayPal</option>
                                    <option value="paysafecard">Paysafecard</option>
                                </select>
                            </label>

                            <button type="submit">Donate</button>
                        </form>
                    </div> 
                    `
                );
                showPopUp = ~showPopUp;
            }
            else{
                let donatePopUp = document.getElementById("donatePopUp");
                
                if(donatePopUp){ 
                    donatePopUp.remove();
                    showPopUp = ~showPopUp;
                }
            }
        });
    </script>
</body>
</html>
